* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
  box-shadow: rgb(148, 148, 148) 0px 2px 2px 0px; /* Adjusted shadow */
  border: 2px solid rgb(218, 218, 218); /* Temporary border to check visibility */
}

.logo img {
  height: 50px;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  flex: 1;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 18px;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #ddd;
}
